html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#_clouds {
    width: 100%;
    
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
}


.clouds_moving{
    height: 100%;
    overflow: visible;
    position: absolute;
    top: 50px;
    left: -100%;
    object-fit: none;
    object-position: center;
    animation: span 60s infinite linear;
    z-index: 0;
    /* 
    Desktop: -24px
    Mobile: 0px
    */
    /* top: -24px; */
}

.clouds_mobile{
    width: 100%;
    height: auto;
    overflow: visible;
    position: absolute;
    top: 100px;
    left: -100%;
    /* object-fit: none; */
    object-position: center;
    animation: span 60s infinite linear;
    z-index: 0;
    /* 
    Desktop: -24px
    Mobile: 0px
    */
    /* top: -24px; */
}




@keyframes span{
    to {
        left: 100%;
    }
}