:root {
	--max-width-1: 1400px;
	--max-width-2: 1000px;
	--max-height-1: 768px;
}

#section-1 {
	background-image: none;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
#section-2, #section-3 {
	background-image: none;
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
			opacity: 0;
	}
	100% {
			opacity: 1;
	}
}

/****** DEVICE SPECIFIC STYLES ******/
/* For smaller devices (phones) */
@media only screen {
	@media (max-width: 767.98px) {
		#tea-party-bg {
			padding-top: 3em;
			gap: 4em;
			padding-bottom: calc(7vw + 0.5em);
		}
		#section-1 {
			padding: 4.5em 0.1em 3em 0.1em; /* top right bottom left */
		}
		#section-1 .logo {
			max-width: 160px;
		}
		#section-1 .org-name-container {
			width: 15rem;
		}
		.description-box {
			height: 25em;
			padding: 1.5rem 0.8rem 2rem 1.4rem;
		}
		#section-2 div {
			width: 90%;
		}
		#section-3 {
			padding: 2em;
		}
		#section-4, #section-5 {
			width: 100%;
		}
		#section-5 .tablet-has-video {
			margin-bottom: 1.5em;
		}
		#section-5 * img {
			max-height: 200px;
		}
		#section-1 button, #section-5 button {
			--bs-btn-padding-y: .25rem; 
			--bs-btn-padding-x: .5rem; 
			--bs-btn-font-size: 1.05rem;
			max-width: 50% !important; 
		}
		#section-5 * h1 {
			font-size: calc(1rem + 1.5vw);
			padding: 0 1em;
		}
	}
	/* other phone sizes */
	@media (min-width: 360px) and (max-width: 575.98px) {
		#section-4 {
			margin-bottom: 2em;
		}
		/* no video */
		#section-5 {
			display: flex;
			align-items: center;
			height: calc(450px + 20vw);
			margin-bottom: 8vw;
		}
		#section-5 .row {
			gap: 31vw;
		}
		/* with video */
		#section-5:has(.has-video) {
			margin-bottom: 17vw;
		}
		#section-5 .row:has(.has-video) {
			gap: 40vw;
		}
		/* either */
		#section-5 * img {
			max-height: calc(170px + 20vw);
		}
		@media (max-width: 400px) { 
			#section-5 {
				margin-bottom: 6vw;
			}
		}
		@media (max-width: 384px) {
			#section-5 * img {
				max-height: calc(165px + 20vw);
			}
			#section-5 {
				margin-bottom: 3vw;
			}
			#section-5 .row {
				gap: 28vw;
			}
			#section-5:has(.has-video) {
				margin-bottom: 12vw;
			}
			#section-5 .row:has(.has-video) {
				gap: 40vw;
			}
		}
	}
	/* smallest phone size */
	@media (max-width: 359.98px) {
		/* no video */
		#section-5 {
			display: flex;
			align-items: center;
			height: calc(400px + 30vw);
			margin-bottom: 0vw;
		}
		#section-5 .row {
			gap: 25vw;
		}
		/* with video */
		#section-5:has(.has-video) {
			margin-bottom: 9vw;
		}
		#section-5 .row:has(.has-video) {
			gap: 41vw;
		}
		/* either */
		#section-5 * img {
			max-height: calc(150px + 20vw);
		}
	}
}

/* For tablets (Bootstrap md breakpoint) */
@media only screen and (min-width: 700px) {
	#section-1 .org-name-container {
		width: 18rem;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	#tea-party-bg {
		padding-top: 4em;
		gap: 5em;
		padding-bottom: 4em;
	}
	#section-1 {
		padding: 7em 4em 4em 4em; /* top right bottom left */
	}
	#section-1 .logo {
		width: 190px;
		height: 190px;
	}
	.description-box {
		height: 20em;
		padding: 2rem 1.5rem 3rem 2.1rem;
	}
	#section-2 div {
		width: 85%;
	}
	#section-3 {
		padding: 3em;
		width: 85%
	}
	#section-4 {
		max-width: 85vw;
	}
	#section-5 {
		width: 85vw;
	}
	#section-5 .has-video {
		max-height: 240px;
		margin-bottom: 0.5em;
		margin-top: 2em;
	}
	#section-5 .no-video {
		max-height: 210px;
	}
	#section-5 * h1 {
		font-size: calc(1rem + 1.5vw);
	}
}

/* For laptop/desktops, large and small (Bootstrap lg breakpoint) */
@media only screen and (min-width: 992px) {
	#tea-party-bg {
		padding-top: 4em;
		gap: 4.5em;
		padding-bottom: 2.5em;
	}
	#section-1 {
		height: 100vh;
		padding: 12em 6em 7em 6em; /* top (or 25vh) right bottom left */
	}
	#section-1 .logo {
		max-width: 220px;
	}
	#section-1 div div {
		margin-top: 0;
	}
	.description-box {
		max-height: 50vh;
		padding: 2rem 1.5rem 3rem 2.1rem;
	}
	#section-1 .org-name-container {
		transform: translateX(-50%);
		left: 50%;
	}
	#section-2 div {
		width: 70%;
	}
	#section-3 {
		padding: 3em 4em 3em 4em;
		margin-top: 1em;
	}
	#section-4, #section-5 {
		max-width: 60vw;
	}
	#section-5 {
		margin-bottom: 2vw;
	}
	@media (max-width: 1070px) {
		#section-5 {
			margin-bottom: 1vw;
		}
	}
	#section-5 * img {
		max-height: calc(200px + 2vw);
	}
	@media (min-width: 1110px) {
		#section-4, #section-5 {
			margin-bottom: 2vw;
		}
		#section-5 * img {
			max-height: calc(210px + 2vw);
		}
	}
	#section-5 * h1 {
		font-size: calc(1rem + 1.5vw);
	}
}

/* For larger desktop screens (follows laptop styles unless overwritten) */
@media only screen and (min-width: 1200px) {
	#tea-party-bg {
		padding-bottom: 5em;
	}
	#section-1 div {
		max-width: var(--max-width-1);
		max-height: var(--max-height-1);
	}
	#section-2 div {
		width: 70%;
		max-width: var(--max-width-2);
	}
	#section-1 .org-name-container {
		width: 20rem;
	}
	.description-box {
		height: 340px;
	}
	#section-4 {
		max-width: 58vw;
		margin-bottom: 2em;
	}
	#section-5 {
		max-width: 60vw;
		margin-bottom: 0;
	}
	#section-5 .row div {
		padding: 0;
	}
	#section-5 * button {
		max-width: 50% !important;
	}
	@media (max-width: 1250px) {
		#section-5 {
			margin-bottom: -0.5vw;
		}
	}
	#section-5 * img {
		max-height: 240px;
	}
	#section-5 * h1 {
		font-size: 2em;
	}
}
/* TODO: Will have to update the min-width value once banner is given
	This is to accomodate for when banner is larger than thw row's width and off-centered */
@media only screen and (min-width: 1300px) {
	#section-1 .org-name-container {
		transform: none;
		left: 0;
	}
	#section-5 * h1 {
		font-size: 2.5em;
	}
	@media (min-width: 1320px) and (max-width: 1399px) {
		#section-5 {
			margin-bottom: 1vw;
		}
		@media (min-width: 1340px) {
			#section-5 .no-video { /* change banner size when there's no video */
				max-height: 260px;
				margin-top: 1vw;
			}
		}
	}
	@media (min-width: 1400px) and (max-width: 1549.98px) {
		#section-5 * img {
			max-height: 310px;	
		}
		@media (max-width: 1450px) {
			#section-5 * img {
				max-height: 300px;	
			}
		}
	}
	@media (min-width: 1550px) {
		#section-5 * img {
			max-height: calc(300px + 2vw);
		}
		#section-5 {
			margin-bottom: 1vw;
		}
	}
	@media (min-width: 1800px) {
		#section-5 * img {
			max-height: calc(350px + 2vw);
		}
		#section-5 {
			margin-bottom: 1vw;
			margin-top: 2.5em;
		}
		@media (min-width: 1920px) {
			#section-5 {
				margin-bottom: 2vw;
			}
		}
	}
}
@media only screen and (min-width: 2560px) { 
	#tea-party-bg {
		padding-top: 8em;
		padding-bottom: 10em;
		gap: 6em;
	}
	#section-4 {
		max-width: 60vw;
		margin-bottom: 6em;
	}
	#section-5 {
		max-width: 50vw;
		margin-bottom: 0;
	}
	#section-5 * img {
		max-height: 500px;
	}
}


/****** OTHER STYLES ******/
.centered-axis-x {
	/* From https://stackoverflow.com/a/23384995 */
	/* must be accompanied by position: relative | absolute */
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.dom-color-filter {
	filter: brightness(0) saturate(100%);
}

.lead {
	font-family: Garamond;
	font-weight:bold
}

.text-scrollable-justified {
	text-align: justify;
	overflow: auto;
	padding-right: 0.4rem;
}
.text-scrollable-justified p {
	margin-bottom: 0;
}
.text-scrollable-justified::-webkit-scrollbar {
	width: 6px;
}
.text-scrollable-justified::-webkit-scrollbar-track {
	background: transparent;
}
.text-scrollable-justified::-webkit-scrollbar-thumb {
	border-radius: 5px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.932); */
}
.light-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.3);
}
.dark-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.233);
}

/*****/
#tea-party-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
	padding-left: 1.5em;
	padding-right: 1.5em;
	display: grid;
	background-image: url(../assets/org_indiv_page/tea_party_bg.png);
}

/* Section 1 styles */
svg{
	/* border: 3px solid red; */
}
svg text {
	/* Center text in SVG (https://stackoverflow.com/a/31522006)*/
	text-anchor: middle;
	dominant-baseline: mathematical;	
}

.bevel {  /* larger font */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a537e', endColorstr='#1d2040', GradientType=1 );
	fill: #4fa389;
	font-weight: bold;
	font-size: 18px;
	/* text-shadow: 0 -3px 7px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2); */
}
.org-name {
	top: 17px;
	left: 50%;
	transform: translateX(-100%); /* half of the SVG's width attribute value */
}

#section-1 {
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	z-index: 1;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
#section-1 button {
	min-width: 70%;
}
.description-box {
	background-color: rgba(94, 97, 162, 0.85);
	border-radius: 2rem;
	color: white;
	display: flex;
  flex-direction: column;
	overflow: hidden;
	justify-content: center;
}

/* Section 2 styles */
#section-2 div {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
}
#section-2 div div {
  position: relative;
	display: block;
  width: 100%;
  padding-bottom: 56.25%; 
}
#section-2 div div iframe{
  position: absolute;
  top:0;
  left: 0;
	bottom: 0;
	right: 0;
  width: 100%;
	height: 100%;
}

/* Section 3 styles */
#section-3 {
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 2em;
}
#section-3 * .text-scrollable-justified {
	max-height: 8em;
}

/* Section 4 styles */
#section-4 {
	color: black;
}
#flagship-carousel {
	border: white solid 5px;
	border-radius: 4px;
}

/* Section 5 styles */
#section-5 button {
	max-width: 70%;
}