:root {
	--pastle-pink: #FFBFE2;
	--pink: #FF85C7;
	--dark-pink: #FF008A;

	/* primary colors */
	--scarlet: #d82b27;
	--basil: #22763c;
	--lapis: #253e94;
	--brown: #755923;

	/* subcolors */
	--violet: #5e61a2;
	--lime: #b7d433;
	--honey: #f9a238;
	--light-pink: #f8abb1;
}


/****** DEVICE SPECIFIC STYLES ******/
/* For smaller devices (phones) */
@media only screen and (max-width: 767.98px) {
	.section-1 {
		/* change to smaller padding */
		padding: 4.5em 0.1em 2em 0.1em; /* top right bottom left */
	}
	.section-1 .logo {
		max-width: 160px;
	}
	.description-box {
		height: 25em;
		padding: 1.5rem 0.8rem 2rem 1.4rem;
	}
}

/* For tablets (Bootstrap md breakpoint) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	.section-1 {
		padding: 6em 4em 4em 4em; /* top right bottom left */
	}
	.section-1 .logo {
		width: 190px;
		height: 190px;
	}
	.description-box {
		height: 20em;
		padding: 2rem 1.5rem 3rem 2.1rem;
	}
}

/* For laptop/desktops (Bootstrap lg breakpoint) */
@media only screen and (min-width: 992px) {
	.section-1 {
		height: 100vh;
		padding: 7em 6em 7em 6em; /* top (or 25vh) right bottom left */
	}
	.section-1 .logo {
		max-width: 256px;
	}
	.description-box {
		height: 50vh;
		padding: 2rem 1.5rem 3rem 2.1rem;
	}
}

/* For larger desktop screens */
@media only screen and (min-width: 1200px) {
	.section-1 div {
		max-width: 1400px;
		max-height: 768px;
	}
	.description-box {
		height: 60%;
	}
}

/****** OTHER STYLES ******/
.section-1 button {
	min-width: 70%;
}

.section-1 {
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	z-index: 1;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description-box {
	background-color: rgba(94, 97, 162, 0.85);
	border-radius: 2rem;
	color: white;
	display: flex;
  flex-direction: column;
	overflow: hidden;
	justify-content: center;
}

.text-scrollable-justified {
	text-align: justify;
	overflow: auto;
	padding-right: 0.4rem;
}
.text-scrollable-justified p {
	margin-bottom: 0;
}
.text-scrollable-justified::-webkit-scrollbar {
	width: 6px;
}
.text-scrollable-justified::-webkit-scrollbar-track {
	background: transparent;
}
.text-scrollable-justified::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.233);
	border-radius: 5px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.932); */
}