 section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: violet;
    padding: 435px;
}

 section.palegreen {
    position: rela  tive;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: palegreen;
    padding: 435px;
 }



 .card {
    border-radius: 20px;
 }

 .card-body {
    width: 60rem;
    height: 15rem;
    text-align: center;
    vertical-align: middle;
    line-height: 13rem;
    font-size: 56px;
 }

 .cso-logo {
    border-radius: 50%;
    width: 35rem;
    height: 35rem;
    content: url(../assets/org_images/cso-logo.webp);
 }
 
 .cso-text {
   font-size: 56px;
 }

 .cso-title-div {
   align-items: center;
   float: left;
 }

 .cso-button {
   font-size: 36px;
   border-radius: 50%;
   width: 25rem;
 } 
