html {
    min-height: 100%;
}

body {
    font-size: 14px;
    font-weight: 300;
}

.cluster-abrv {
    font-size: 64;
    font-weight: 700px;
}

.cluster-long-name {
    font-family: 'EB Garamond', serif;
    font-size: 32;
    font-weight: 400px;
}

div.arw-card-deck {
    padding-top: 24px;
    left: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    /* margin-left: 32px;
    margin-right: 32px; */
}

ul.arw-cards {
    top: 0px;
    margin-left: -6.9%;
    height: calc(350px + 32px);
    list-style-type: none;
    cursor: pointer;
}

ul.arw-cards li.arw-card {
    margin-left: 6%;
    /* background: #FFF; */
    height: 350px;
    width: 256px;
    position: absolute;
    left: 0px;
    pointer-events: none;
    perspective: 1000px;
}

ul.arw-cards li.arw-card img {
    max-width: 140px;
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

ul.arw-cards li.arw-card div.content {
    padding: 5px 5px;
    font-family: 'EB Garamond', serif;
    font-weight: 400px;
}

ul.arw-cards li.arw-card div.content h1 {
    font-size: 22;
    font-weight: 500px;
    text-align: center;
}

.top-left-card {
    font-size: 55;
    font-weight: 500px;
    text-align: left;
    vertical-align: top;
    padding: 4px 16px 0px 16px;
}

.bottom-right-card {
    font-size: 55;
    font-weight: 500px;
    text-align: right;
    vertical-align: bottom;
    padding: 0px 16px 0px 16px;
}

ul.arw-cards li.arw-card {
    font-size: 20;
    font-weight: 500px;
    text-align: center;
}


/* Card Flipping */

.arw-card-inner {
    position: relative;
    width: 256px;
    height: 350px;
    text-align: center;
}

.arw-card-front {
    position: absolute;
    width: 256px;
    height: 350px;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.arw-card-front {
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 1px 2px 2px 0 #aaa;
    color: black;
}

.arw-card-front h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 400px;
    font-size: 26;
}


/* Card Transitions */

ul.arw-cards li.arw-card {
    position: relative;
    pointer-events: all;
}

ul.arw-cards li.arw-card.arw-card-18 {
    left: calc(17 * calc(256px + 16px));
    top: calc(17 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-17 {
    left: calc(16 * calc(256px + 16px));
    top: calc(16 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-16 {
    left: calc(15 * calc(256px + 16px));
    top: calc(15 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-15 {
    left: calc(14 * calc(256px + 16px));
    top: calc(14 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-14 {
    left: calc(13 * calc(256px + 16px));
    top: calc(13 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-13 {
    left: calc(12 * calc(256px + 16px));
    top: calc(12 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-12 {
    left: calc(11* calc(256px + 16px));
    top: calc(11 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-11 {
    left: calc(10 * calc(256px + 16px));
    top: calc(10 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-10 {
    left: calc(9 * calc(256px + 16px));
    top: calc(9 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-9 {
    left: calc(8 * calc(256px + 16px));
    top: calc(8 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-8 {
    left: calc(7 * calc(256px + 16px));
    top: calc(7 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-7 {
    left: calc(6 * calc(256px + 16px));
    top: calc(6 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-6 {
    left: calc(5 * calc(256px + 16px));
    top: calc(5 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-5 {
    left: calc(4 * calc(256px + 16px));
    top: calc(4 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-4 {
    left: calc(3 * calc(256px + 16px));
    top: calc(3 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-3 {
    left: calc(2* calc(256px + 16px));
    top: calc(2 * calc(350px * -1));
}

ul.arw-cards li.arw-card.arw-card-2 {
    left: 272px;
    top: -350px;
}

ul.arw-cards li.arw-card.arw-card-1 {
    top: 0;
    left: 0;
}