* {
    margin: 0px;
  }

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.countdown-font {
    font-size: 225px;
    
}

.countdown-font-small {
    font-size: 100px;
}

.countdown-font-xsmall {
    font-size: 100px;
}


.btn-primary {
    color: #fff !important;
    background-color: #d82d27 !important;
    border-color: #d82d27 !important; /*set the color you want here*/
    
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color: #e65151 !important;
    border-color: #e65151 !important; /*set the color you want here*/
}

.center-cropped {
    background-repeat: no-repeat !important; 
    background-size: cover;
    background-position: 100% center ;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

#desktop-slideshow{
    position: relative !important;
    top: 5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border-width: 1px !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border: solid #d82b27 !important; */
}

#mobile-slideshow{
    position: relative !important;
    top: 16rem !important;
    padding: .75rem !important;
}

#tablet-slideshow{
    position: relative !important;
    top: 10rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#dates-desktop{
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#dates-tab{
    position: relative !important;
    top: 10rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#dates-mob{
    position: relative !important;
    top: 6rem !important;
    padding: .75rem !important;
}


.swiper{
    margin-top: 32px;
    background: rgba(248, 171, 178, 0.349);
    width: 100%;
    height: 230vh;
    
}

.swiper-tab{
    margin-top: 32px;
    background: rgba(248, 171, 178, 0.349);
    width: 100%;
    height: 210vh;
}

.swiper-mob{
    margin-top: 32px;
    background: rgba(248, 171, 178, 0.349);
    width: 100%;
    height: 245vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.slick-slide {
    margin: 0px 20px;
}
  
.logo-carousel {
    overflow: inherit;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}


.slide-img{
    height: 200px;
    min-height: 200px;
    line-height: 200px;
    justify-content: center;
    object-fit: contain;
}
