* {
    margin: 0px;
  }

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.countdown-font {
    font-size: 225px;
    
}

.countdown-font-small {
    font-size: 100px;
}

.countdown-font-xsmall {
    font-size: 100px;
}


.btn-primary {
    color: #fff !important;
    background-color: #d82d27 !important;
    border-color: #d82d27 !important; /*set the color you want here*/
    
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color: #e65151 !important;
    border-color: #e65151 !important; /*set the color you want here*/
}

.center-cropped {
    background-repeat: no-repeat !important; 
    background-size: cover;
    background-position: 100% center ;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }


/* for moving background */
#videoBG {
    position: fixed;
    z-index: -1;
}
/* @media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
} */

/* @media (max-aspect-ratio: 16/9) {
    #videoBG { 

        width: 100%;

        overflow: visible;
        position: absolute;
        top: 100px;
        left: -100%;
        height: 100%;
    }
} */

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('../assets/background/comm_bg.png');
        background-size: cover;
    }
}




#desktop-slideshow{
    position: relative !important;
    left: 15rem !important;
    top: 5rem !important;
    padding: 2rem !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    /* border-width: 1px !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border: solid #d82b27 !important; */
}

#mobile-slideshow{
    position: relative !important;
    top: 16rem !important;
    padding: .75rem !important;
}

